{% extends "templates/layout.html" %}

{% block title %} {{ class_name }} {% endblock %}

{% block page_content %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/assets/gms/img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>Classes detail</h2>
                        <div class="bt-option">
                            <a href="/">Home</a>
                            <a href="/classes">Classes</a>
                            <span>{{ class_name }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Class Details Section Begin -->
    <section class="class-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="class-details-text">
                        <div class="cd-pic">
                            <img src="{{ image }}" alt="">
                        </div>
                        <div class="cd-text">
                            <div class="cd-single-item">
                                <h3>{{ class_name }}</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua accusantium doloremque
                                    laudantium. Excepteur sint occaecat cupidatat non proident sculpa.</p>
                            </div>
                            <div class="cd-single-item">
                                <h3>Trainers</h3>
                                <p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur officia
                                    deserunt mollit.</p>
                            </div>
                        </div>

                   {% set trainers = frappe.db.sql("""
                   SELECT `tabGym Trainer`.full_name, `tabGym Trainer`.image FROM `tabGym Class` INNER JOIN `tabGym Class Trainer` ON `tabGym Class`.name = `tabGym Class Trainer`.parent INNER JOIN `tabGym Trainer` ON `tabGym Class Trainer`.trainer = `tabGym Trainer`.name WHERE `tabGym Class`.name = %s
                   """, name, as_dict=1) %}
                   """) %}

                        {% for trainer in trainers %}
                        <div class="cd-trainer">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="cd-trainer-pic">
                                        <img src="{{ trainer.image }}" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="cd-trainer-text">
                                        <div class="trainer-title">
                                            <h4>{{ trainer.full_name }}</h4>
                                            <span>Gym Trainer</span>
                                        </div>
                                        <div class="trainer-social">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                                            <a href="#"><i class="fa fa-instagram"></i></a>
                                            <a href="#"><i class="fa  fa-envelope-o"></i></a>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua viverra maecenas lacus
                                            vel facilisis.</p>
                                        <ul class="trainer-info">
                                            <li><span>Age</span>35</li>
                                            <li><span>Weight</span>148lbs</li>
                                            <li><span>Height</span>10' 2``</li>
                                            <li><span>Occupation</span>no-founder</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua viverra maecenas lacus
                                            vel facilisis. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Class Details Section End -->

{#<h1>{{ class_name }}</h1>#}
{#    <a href="/book-class/new?class={{ name }}" class="btn btn-primary">Book Class</a>#}
{##}
{#{% if schedule %}#}
{#<div class="row">#}
{#    <div class="col-md-12">#}
{#        <div class="card">#}
{#            <div class="card-header">#}
{#                <h4 class="card-title text-center text-primary font-weight-bold">Schedule</h4>#}
{#            </div>#}
{#            <div class="card-body">#}
{#                <div class="row">#}
{#                    {% for schedulee in schedule %}#}
{#                    <div class="col-4">#}
{#                        <div class="card">#}
{#                            <div class="card-body">#}
{#                                <h5 class="card-title text-primary font-weight-bold">{{ schedulee.day_of_week }}</h5>#}
{#                                <p class="card-text">{{ schedulee.start_time }} - {{ schedulee.end_time }}</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#{% endif %}#}
{##}
{#{% if trainers %}#}
{#<div class="row">#}
{#    <div class="col-md-12">#}
{#        <div class="card">#}
{#            <div class="card-header">#}
{#                <h4 class="card-title text-center text-primary font-weight-bold">Trainers</h4>#}
{#            </div>#}
{#            <div class="card-body">#}
{#                <div class="row">#}
{#                    {% for trainer in trainers %}#}
{#                        {%#}
{#                                set trainer = frappe.get_doc("Gym Trainer", trainer.trainer)#}
{#                        %}#}
{#                    <div class="col-2">#}
{#                        <div class="card">#}
{#                            <div class="card-body">#}
{#                                <img src="{{ trainer.image }}" class="img-fluid" alt="{{ trainer.full_name }}">#}
{#                                <a href="/{{ trainer.route }}">{{ trainer.full_name or trainer.name }}</a>#}
{#                                <p class="card-text">#}
{#                                    {% for specialization in trainer.specialization %}#}
{#                                    {{ specialization.specialization }}#}
{#                                    {% endfor %}#}
{#                                </p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#{% endif %}#}
{% endblock %}
