{% extends "templates/layout.html" %} {% block title %}{{ _("Home") }}{%
endblock %} {% block page_content %}
<!-- Hero Section Begin -->
<section class="hero-section">
  <div class="hs-slider owl-carousel">
    <div class="hs-item set-bg" data-setbg="assets/gms/img/hero/hero-1.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 offset-lg-6">
            <div class="hi-text">
              <span>Shape your body</span>
              <h1>Be <strong>strong</strong> traning hard</h1>
              <a href="#" class="primary-btn">Get info</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hs-item set-bg" data-setbg="assets/gms/img/hero/hero-2.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 offset-lg-6">
            <div class="hi-text">
              <span>Shape your body</span>
              <h1>Be <strong>strong</strong> traning hard</h1>
              <a href="#" class="primary-btn">Get info</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->
{% endblock %} {% block page_script %}
<script>
  $(document).ready(function () {
    $("#home").addClass("active");
  });
</script>
{% endblock %}
