{% extends "templates/layout.html" %}

{% block title %}{{ _("Contact") }}{% endblock %}

{% block page_content %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/assets/gms/img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>Contact Us</h2>
                        <div class="bt-option">
                            <a href="/">Home</a>
                            <span>Contact us</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
{% endblock %}

{% block page_script %}
<script>
    $(document).ready(function() {
        $("#contact").addClass("active");
    });
</script>
{% endblock %}